<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Root</key>
	<array>
		<dict>
			<key>Label</key>
			<string>Topo Maps</string>
			<key>Maps</key>
			<array>
				<dict>
					<key>Name</key>
					<string>Small</string>
					<key>Filesize</key>
					<string>38MB</string>
					<key>URL</key>
					<string>http://leightonshank.com/ios/smb-festival/map-topo-small.mbtiles</string>
					<key>Filename</key>
					<string>map-topo-small.mbtiles</string>
					<key>Downloaded</key>
					<false/>
					<key>Enabled</key>
					<false/>
				</dict>
				<dict>
					<key>Name</key>
					<string>Large</string>
					<key>Filesize</key>
					<string>94MB</string>
					<key>URL</key>
					<string>http://leightonshank.com/ios/smb-festival/map-topo-large.mbtiles</string>
					<key>Filename</key>
					<string>map-topo-large.mbtiles</string>
					<key>Downloaded</key>
					<false/>
					<key>Enabled</key>
					<false/>
				</dict>
			</array>
		</dict>
	</array>
</dict>
</plist>
